//- do not insert any project data on this document.
//- only project code (crap)
//- all the data is coming from projects/_data.json

div.project.container
  span.client--name #{client_name}
  h1.project--title #{project_name}
div.project--hero(class="#{slug}")
div.container
  h2 Project Info
  if project_link
    a(class="project-link", href="#{project_link}")
      span View Project
  div.row
    div.project--specs.column.quarter
      h3 Roles
      p #{project_roles}

      h3 Technical Specs
      ul
        each spec in project_specs
          li #{spec}
    div.project--information.column.two-thirds
      if project_description
        h3 Description
        p #{project_description}

      if project_outcome
        h3 Outcome
        p #{project_outcome}

  h2 Project Images
  div.project--screens.row
    //- make sure the images follow the same number format
    - for (var x = 1; x < screen_num+1; x++)
      div.column.half
        a(href="/img/projects/#{slug}-0#{x}-full.jpg").swipebox
          img(src="/img/projects/#{slug}-0#{x}-thumb.jpg")