- var project = {name: 'anidea', screen_num: 1}
- var tech_specs = ["WordPress", "jQuery", "Theme Development"]

div.top--bar
  a(href="/") Omar Martinez

div.project(class="#{project.name}")
  span.client--name AgencyNet
  h1.project--title AnIdea
  div.project--hero
  div.container.project
    h2 Project Info
    div.row
      div.project--specs.column.quarter
        h3 Roles
        p Front-End Developer/ WordPress Developer
        h3 Technical Specs
        ul
          each spec in tech_specs
            li #{spec}
      div.project--information.column.two-thirds
        p AnIdea.com was the blog destination for AgencyNet. It was built using WordPress. We pushed the out of the box capabilities of WordPress to deliver content in a creative manner.
        p We showcased our creativity by letting designers create blog skins that were chosen by the visitor. We increased the amount of views for AgencyNet.

    h2 Project Images
    div.project--screens.row
      //- make sure the images follow the same number format
      - for (var x = 1; x < project.screen_num+1; x++)
        div.column.half
          a(href="/img/projects/#{project.name}-0#{x}-full.jpg").swipebox
            img(src="/img/projects/#{project.name}-0#{x}-thumb.jpg")