- var project = {name: 'balloon', screen_num: 7}
- var tech_specs = ["LESS", "Laravel(PHP)", "Responsive"]

div.top--bar
  a(href="/") Omar Martinez

div.project(class="#{project.name}")
  span.client--name FromSomebodyElse
  h1.project--title Balloon Agency
  div.project--hero
  div.container
    h2 Project Info
    a(class="project-link", href="http://dev.balloonagency.com")
      span View Project
    div.row
      div.project--specs.column.quarter
        h3 Roles
        p Front-End Developer
        h3 Technical Specs
        ul
          each spec in tech_specs
            li #{spec}

      div.project--information.column.two-thirds
        p The latest project that I have worked on. Balloon Agency is a project done with the company called From Somebody Else. Balloon (as we refer to it) is a website for a talent agency in NYC. Their talent consists of the people behind the scenes: the makeup artists, wardrobe experts, photographers, nutritionists and more. The target demographic is production companies looking for BTS talent.
        p The goal for the site is help promote these artists work by describing a bit about themselves, display their social streams and to showcase a sample of their work. The work can be a photographic collection or a video demo reel.

    h2 Project Images
    div.project--screens.row
      //- make sure the images follow the same number format
      - for (var x = 1; x < project.screen_num+1; x++)
        div.column.half
          a(href="/img/projects/#{project.name}-0#{x}-full.jpg").swipebox
            img(src="/img/projects/#{project.name}-0#{x}-thumb.jpg")

    h2 Project Code Sample
    div.project--code.row
      div.column.full
        h4 balloon.less (settings)
        pre
          code.language-css.
            // Brand Colors
            // ============
            @COLOR_PURPLE_GRAY:   #413e46;
            @COLOR_WELSH_PURPLE:  #9e1a71;


            // Artist Colors
            // =============
            @ROSE_TRAN:             #ff3239; /* red */
            @RAUL_GUERRERO:         #1c4a74; /* cobalt blue */
            @ALEXANDRA_BROCK:       #f37b79; /* pink */
            @LEE_MORGAN:            #87eb0f; /* brazil green */
            @MADELEINE_HAMER:       #08c8cf; /* sky blue */


            // File Paths
            // ==========
            @STATIC_FOLDER:     "/static";
            @ASSETS_FOLDER:     "@{STATIC_FOLDER}/assets";
            @IMAGES_FOLDER:     "@{STATIC_FOLDER}/images";

        h4 artists_default_theme.less (mixin)
        pre
          code.language-css.
            .artists-default-theme(@artistsColor, @artistsName) {

            // Balloon Logo
            // ============
            div.menu-toggle-btn {
              background: @artistsColor;
            }

            // Artist Detail Page
            // ==================
            .artist-cover {
              background-image: url('@{ASSETS_FOLDER}/artists/@{artistsName}/@{artistsName}_cover.jpg');

              h1 {
                  color: @artistsColor;
              }
            }

            .artist-profile {

              a.box-button {
                color: #fff;
                background-color: @artistsColor;
              }
            }

            .social__links {

              i {
                &:hover {
                  background-color: @artistsColor;
                }
              }
            }

            // Homepage - Featured Artist
            // ==========================
            &.featured-artist {

              div.feaured-artist-profile-container  {
                background-image:url('@{ASSETS_FOLDER}/home/artists/@{artistsName}_background.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
              }

              p.artist-name {
                color: @artistsColor;
              }

              a.box-button {
                color: #fff;
                background-color: @artistsColor;
              }
            }
          }

        h4 rose_tran.less
        pre
          code.language-css.
            .rose_tran {
              .artists-default-theme(@ROSE_TRAN, 'rose_tran');
            }