//- do not insert any project data on this document.
//- only project code
//- all the data is coming from projects/_data.json

div.project.container
  span.client--name #{client_name}
  h1.project--title #{project_name}
div.project--hero(class="#{slug}")
div.container.project
  h2 Project Info
  if project_link
    a(class="project-link", href="#{project_link}")
      span View Project
  div.row
    div.project--specs.column.quarter
      h3 Roles
      p #{project_roles}

      h3 Technical Specs
      ul
        each spec in project_specs
          li #{spec}
    div.project--information.column.two-thirds
      if project_description
        h3 Description
        p #{project_description}
      else
        h3 Description
        p ImGame is a check-in app  to connect gamers to their friends in real-time.  ImGame notifies gamers when their friends are online playing, to join them or cheer them on.
        p My involvement with ImGame was to consult best practices on check-in apps based on my knowledge of the gamer demographic, and to build the web experience of the app.
        p The web based part consisted of creating the check-in page template that was displayed on social networks. I also built their small promo site as well as the beta signup preview page.
        p With the beta preview page, the creative execution followed a recent trend back then of story telling via scrolling. What we did different was to control an animation sequence by scrolling.
        p It was the one of the first that was able to do this, and after the launch, it inspired others to do similar systems.

      if project_outcome
        h3 Outcome
        p #{project_outcome}

  h2 Project Images
  div.project--screens.row
    //- make sure the images follow the same number format
    - for (var x = 1; x < screen_num+1; x++)
      div.column.half
        a(href="/img/projects/#{slug}-0#{x}-full.jpg").swipebox
          img(src="/img/projects/#{slug}-0#{x}-thumb.jpg")