- var project = {name: 'balloon', screen_num: 7}
- var tech_specs = ["One", "Two", "Three"]

div.top--bar
  a(href="/") Omar Martinez

div.project(class="#{project.name}")
  span.client--name Client Name
  h1.project--title Project Name
  div.project--hero
  div.container.project
    h2 Project Info
    div.row
      div.project--specs.column.quarter
        h3 Roles
        p Front-End Developer
        h3 Technical Specs
        ul
          each spec in tech_specs
            li #{spec}
      div.project--information.column.two-thirds
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

    h2 Project Images
    div.project--screens.row
        //- make sure the images follow the same number format
        - for (var x = 1; x < project.screen_num+1; x++)
          div.column.half
            a(href="/img/projects/#{project.name}-0#{x}-full.jpg").swipebox
              img(src="/img/projects/#{project.name}-0#{x}-thumb.jpg")

    h2 Project Code Sample
    div.project--code.row
      div.column.full
        pre
          code.language-css.
            .some-css {
              width: 100%;
              height: 100%;
            }